<template name="editPost">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="lists"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Edit Post</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}


      <div >
        <label type='stacked' class='item item-input item-stacked-label'>
          <span class='input-label'>Title</span>
          <input type='text' label-type='stacked' name='title' required value={{title}} />
        </label>
      </div>
      {{#each sections}}
      {{#if isTypeText type}}
      
      {{#unless isNotEditMode}}
      <a data-id={{time}} class='input-label icon ion-close-circled right-x-button '></a>
      <textarea data-id={{time}} type='text' class='in-edit-mode' rows='4' label-type=''>{{text}}</textarea>
      {{else}}
      <a data-id={{time}} class='input-label'></a>
      
      <textarea readonly data-id={{time}} type='text' rows='4' class='in-display-mode' label-type=''>{{text}}</textarea>
      {{/unless}}

    {{/if}}
      {{#if isTypePic type}}
        <div class="list card">
          <a data-id={{time}} class='input-label icon ion-close-circled right-x-button '></a>
          <div class="item item-image">
            <img class="full-image" src="{{pic}}"/>
          </div>
        </div>
      {{/if}}
      {{/each}}
      <div class="button-bar">
        <a class="button icon ion-android-textsms">+</a>
        <a class="button icon ion-android-camera">+</a>
        <a class="button icon ion-android-image">+</a>
        <a class="button icon ion-android-send button-positive">Submit</a>
      </div>
      
    {{/ionContent}}
  {{/ionView}}
  
</template>


