<template name="lists">

  {{#contentFor "headerTitle"}}
    <h1 class="title">Post List</h1>
  {{/contentFor}}
  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" onclick="alert('TODO')">Login</button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}

        {{#each posts}}

          {{#ionItem buttonRight=true avatar=true}}
            {{#with getuser uid}}

              <img src="{{picture.thumbnai}}"> 
              
              <h2>{{../title}}</h2>
              <p>
                {{username}} &nbsp; {{../../time}}
              </p>

            {{/with}}
            
            <button class="button button-clear">{{> ionIcon icon="chevron-right"}}</button>

          {{/ionItem}}

        {{/each}}

      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
