<template name="lists">

  {{#contentFor "headerTitle"}}
    <h1 class="title">Post List</h1>
  {{/contentFor}}
  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" onclick="alert('TODO')">Login</button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}

        {{#each posts}}

          {{#ionItem buttonRight=true avatar=true}}

            <img src="http://4.bp.blogspot.com/-Gs63thLilSE/T9UMpkqKvXI/AAAAAAAAEOs/h2sGmqQQnL4/s1600/default_user_icon-dc6cdc7f01bcc60a4d6c3523377a1098-770007.jpg">
            <h2>{{title}}</h2>
            <p>
              {{time}}
            </p>
            
            <button class="button button-clear">{{> ionIcon icon="chevron-right"}}</button>

          {{/ionItem}}

        {{/each}}

      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
