<template name="addpost">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="lists"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Add Post</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}


      <div >
        <label type='stacked' class='item item-input item-stacked-label'>
          <span class='input-label'>Title</span>
          <input type='text' label-type='stacked' name='title' required />
        </label>
      </div>
      {{#each sections}}
      {{#if isTypeText}}
      <label type='stacked' class='item item-input item-stacked-label'>
        <a data-id={{time}} class='input-label icon ion-close-circled right-x-button '></a>
        <textarea type='text' rows='3' label-type='stacked'></textarea>
      </label>
      {{/if}}
      {{#if isTypePic}}
      <div>

      </div>
      {{/if}}
      {{/each}}
      <div class="button-bar">
        <a class="button icon ion-android-textsms">+</a>
        <a class="button icon ion-android-camera">+</a>
        <a class="button icon ion-android-image">+</a>
        <a class="button icon ion-android-send button-positive">Submit</a>
      </div>
      
    {{/ionContent}}
  {{/ionView}}
  
</template>

